<!---------------------------
Name: tnalert admin
-----------------------------
Author: Mohammed Rizwan S
Date:   23/02/2024
---------------------------->
<ion-content class="container">
  <ion-grid>
    <!-- <ion-row>
      <ion-col>
        <ion-searchbar inputmode="numeric" class="searchbar" mode="ios"
          placeholder="{{'Search station code' | translate}}" [(ngModel)]="searchTerm" (ionInput)="filterItems($event)">
          <span>ARG</span>
        </ion-searchbar>
      </ion-col>
    </ion-row> -->
    <ion-row class="list-row">
      <div>
        <ion-list>
          <ng-container *ngIf="districts">
            <ion-item lines="none" *ngFor="let item of districts" name="list_data" class="ion-text-center"
              (click)="getSelectedDistrict(item.district_id)">
              <ion-label *ngIf="lang=='en'">
                {{item.district_name}}
              </ion-label>

              <ion-label *ngIf="lang=='ta'">
                {{item.t_district_name}}
              </ion-label>
            </ion-item>
          </ng-container>

          <ng-container *ngIf="districts">
            <ion-item lines="none" *ngIf="districts.length==0" name="list_data" class="ion-text-center">
              <ion-label>
                {{ "Not found" | translate}}
              </ion-label>
            </ion-item>
          </ng-container>
        </ion-list>

      </div>

    </ion-row>

  </ion-grid>



  <ion-footer>

    <ion-button size="block" (click)="closeModal()">
      Cancel
    </ion-button>
  </ion-footer>
</ion-content>