<!---------------------------
Name: tnsmart
-----------------------------
Author: Mohammed Rizwan S
Data:   10/2/2024
---------------------------->

<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar mode="ios">
    <ion-title>{{"View Stations"| translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button mode="ios" defaultHref="/raingauge"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" style="margin-top: 22px;">
    <ion-select label="{{ 'District' | translate}}" label-placement="stacked" fill="outline"
      placeholder="Select district" [(ngModel)]="district_id" (ionChange)="getStations()" interface="action-sheet">
      <ion-select-option *ngFor="let dis of districts_data" value="{{dis.district_id}}">
        <span *ngIf="lang=='en'">{{dis.district_name}}</span>
        <span *ngIf="lang=='ta'">{{dis.t_district_name}}</span>
      </ion-select-option>
    </ion-select>

    <div *ngIf="loading" class="skeleton-container" style="margin: 22px 0 0 0">
      <div class="skeleton skeleton-card" style="height: 300px; margin-bottom: 22px"></div>
      <div class="skeleton skeleton-card" style="height: 300px; margin-bottom: 22px"></div>
      <div class="skeleton skeleton-card" style="height: 300px; margin-bottom: 22px"></div>
    </div>

    <ion-card class="ion-padding ion-text-center" *ngIf=" stations.length==0 && !loading">No stations</ion-card>

    <ion-card class="ion-padding ticket-card" *ngFor="let station of stations">
      <ion-label class="ticket-card-label">
        {{station['difficulty']}}</ion-label>

      <ion-grid>
        <ion-row style="background: #3b93ed7a">
          <ion-col> <ion-label>{{"Station code"}} :</ion-label></ion-col>
          <ion-col>
            <ion-label>{{station['station_code'] | translate}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> <ion-label>{{"District"}} :</ion-label></ion-col>
          <ion-col>
            <ion-label>{{station['district_name'] | translate}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> <ion-label>{{"Taluk"}} :</ion-label></ion-col>
          <ion-col>
            <ion-label>{{station['taluk_name'] | translate}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> <ion-label>{{"Firka"}} :</ion-label></ion-col>
          <ion-col>
            <ion-label>{{station['firka_name'] | translate}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col><ion-label>{{"Village"}} :</ion-label></ion-col>
          <ion-col>
            <ion-label>{{station['village_name'] | translate}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col><ion-label>{{"Installed Method"}} :</ion-label></ion-col>
          <ion-col>
            <ion-label>{{station['installation_method'] | translate}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> <ion-label>{{"Owned by"}} :</ion-label></ion-col>
          <ion-col>
            <ion-label>{{station['ownership'] | translate}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row style="height: max-content">
          <ion-col style="height: unset">
            <ion-label>{{"Sensors" | translate}} :</ion-label></ion-col>
          <ion-col style="display: block">
            <ion-label *ngIf="station['rainfall']=='1'"><span class="pointer">•</span>Rainfall</ion-label>
            <ion-label *ngIf="station['air_temp']=='1'"><span class="pointer">•</span>Air Tempertature</ion-label>
            <ion-label *ngIf="station['relative_humidity']=='1'"><span class="pointer">•</span>Relative
              Humidity</ion-label>
            <ion-label *ngIf="station['air_pressure']=='1'"><span class="pointer">•</span>Air Pressure</ion-label>
            <ion-label *ngIf="station['wind_speed']=='1'"><span class="pointer">•</span>Wind Speed</ion-label>
            <ion-label *ngIf="station['wind_direction']=='1'"><span class="pointer">•</span>Wind Direction</ion-label>
            <ion-label *ngIf="station['solar_radiation']=='1'"><span class="pointer">•</span>Solar Radiation</ion-label>
            <ion-label *ngIf="station['soil_moisture']=='1'"><span class="pointer">•</span>Soil Moisture</ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col> <ion-label>{{"Installed on"}} :</ion-label></ion-col>
          <ion-col>
            <ion-label>{{station['installed_date'] | translate}}</ion-label>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="station['photo']=='1'">
          <ion-col> <ion-label>{{"Attached Photo"}} :</ion-label></ion-col>
          <ion-col>
            <ion-button mode="ios" style="--background: none; margin-top: 4px" size="small"
              (click)="preview(station['station_code']);">
              <ion-icon name="image-outline" style="
                  padding: unset;
                  max-width: unset !important;
                  max-height: unset !important;
                "></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>

        <!-- <ion-row *ngIf="station['photo']">
          <ion-col> <ion-label>{{"Attached Photo"}} :</ion-label></ion-col>
          <ion-col>
            <ion-button size="small" fill="clear" (click)="preview(station['photo'])">
              <ion-icon name="image-outline" style="transform: scale(1.2); margin-top: 22px;"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row> -->
      </ion-grid>
    </ion-card>
  </div>

  <ion-modal #modal [isOpen]="preview_state" [canDismiss]="canDismiss" mode="ios" class="photo-preview-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Preview</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss();preview_state=false;img=null;"><ion-icon
                name="close"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div *ngIf="img" class="img-holder">
          <a href="{{img}}" download> <img *ngIf="img" src="{{img}}" /></a>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>