xion-card {
    margin-top: 0px;
    border-radius: 20px;
}

ion-item {
    margin-top: 0px;
}

.login-link {
    text-align: center;
    margin-top: 15px;
}

.login-link span {
    color: #0F2649;
    font-weight: 600;
    cursor: pointer;
}